
<div style="width: 500px">
    <legend style="font-size: 16px">
        轿车类
    </legend>
    <div>
        <table border="1">
            <tr>
                <th>新车</th>
                <th>本田 (Honda)</th>
                <th>丰田 (Toyota)</th>
                <th>传祺 (Trumpchi)</th>
                <th>三菱 (Mitsubishi)</th>
                <th>菲亚特 (Fiat)</th>
                <th>雷克萨斯 (Lexus)</th>
            </tr>
            <tr>
                <td> 微型车 Mini
                </td>
                <td> 理念1.3
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 小型车 Small/Sub Compact
                </td>
                <td> 飞度1.5
                </td>
                <td> 雅力士1.6
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 紧凑型 (A)Compact
                </td>
                <td> 锋范1.5
                </td>
                <td>
                </td>
                <td>  传祺AF
                </td>
                <td>
                </td>
                <td>  博悦
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 紧凑型 (B) Compact
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td> 菲亚特500
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 紧凑型 (C) Compact
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td> 菲翔（畅享版 干式双离合）1.4T
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 中型车 (A) Mid-Size
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>   传祺 2.0 AT 手自一体精英版
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 中型车 (B) Mid-Size
                </td>
                <td>  雅阁2.0
                </td>
                <td>    凯美瑞2.0
                </td>
                <td>   传祺 1.8 AT 手自一体尊贵版
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> 中型车 (C) Mid-Size
                </td>
                <td>  雅阁2.4
                </td>
                <td>   凯美瑞2.5
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>大中型 (A)Full Size
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>大中型 (B) Full Size
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>大中型 (C) Full Size
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>豪华车-中型(A) Luxury Sedan
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>   ES250精英版
                </td>
            </tr>
            <tr>
                <td>豪华车-中型 (B) Luxury Sedan
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>  IS250运动版
                </td>
            </tr>
            <tr>
                <td>豪华车-中型 (C) Luxury Sedan
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>  GS
                </td>
            </tr>
            <tr>
                <td>豪华车-大型(A)  Luxury Sedan
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>  LS
                </td>
            </tr>
            <tr>
                <td>跑车 Sports Car
                </td>
                <td>
                </td>
                <td> 杰路驰
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>新能源车 Hybrid/Electric
                </td>
                <td>  CRZ
                </td>
                <td>    凯美瑞 尊瑞
                </td>
                <td>   传祺AE
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>   CT
                </td>
            </tr>
            <tr>
                <td>跨界车 Cross-Over
                </td>
                <td>  歌诗图2.4
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>


<div style="width: 500px">
<legend style="font-size: 16px">
    轿车类
</legend>
<div>
<table border="1">
<tr>
    <th>大型车类</th>
    <th>本田 (Honda)</th>
    <th>丰田 (Toyota)</th>
    <th>传祺 (Trumpchi)</th>
    <th>三菱 (Mitsubishi)</th>
    <th>菲亚特 (Fiat)</th>
    <th>雷克萨斯 (Lexus)</th>
</tr>
<tr>
    <td> SUV – 紧凑型（A） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td>  GS5 2.0豪华版
    </td>
    <td> 劲炫
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td> SUV – 中型（A） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td> 汉兰达 2.7 运动豪华版
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td> SUV – 中型（B） Sports Utility Vehicle
    </td>
    <td>汉兰达 3.5 运动豪华版
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td> SUV – 中型（C） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td> 酷路泽
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td> SUV – 大型（A） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>   帕杰罗V73
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td> SUV – 豪华中型（A） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>   GX
    </td>
</tr>
<tr>
    <td> SUV – 豪华中型（B） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>   RX270典雅版
    </td>
</tr>
<tr>
    <td> SUV – 豪华大型（A） Sports Utility Vehicle
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td> LX
    </td>
</tr>
<tr>
    <td>MPV (A) Multi-Purpose Vehicle
    </td>
    <td>
    </td>
    <td>  逸致 180G豪华版
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>MPV (B) Multi-Purpose Vehicle
    </td>
    <td>  奥德赛2.4
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
</table>
</div>
</div>