<ng-include src="'partials/branch/header.html'"></ng-include>

<div class="container" style="padding-top:95px">
<div class="row-fluid">
<div class="span2">
    <ng-include src="'partials/branch/nav.html'" onload="bindEvent()"></ng-include>
</div>

<div class="span9" style="padding-left: 65px">
    <legend>{{itemName}} <i class="icon-angle-right"></i>{{depat}}
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;">
                    <span style="font-size: 14px">2013年</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                </ul>
            </div>
            <div class="btn-group" style="font-size: 30px;padding-right: 5px">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;">
                    <span style="font-size: 14px">8月</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                </ul>
            </div>
        </div>
    </legend>
    <ng-include src="subpage"></ng-include>
</div>

</div>
</div>