<div class="navbar">
<div class="navbar-inner">
<div class="fluid-container navbar-sub">
    <a class="brand" href="#"><img width="35px" height="35px" style="width: 35px;height: 35px" src="img/logo-new.jpg"/></a>
</div>
<div class="fluid-container navbar-sub">
    <ul class="nav">
        <li class="active">
            <a href="#">数据上传</a>
        </li>
        <li>
            <a href="#">数据查看</a>
        </li>
        <li>
            <a href="#">帮助</a>
        </li>
    </ul>
</div>
<div class="pull-right" style="font-size: 20px;padding-top: 5px">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;">
            2013年
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
        </ul>
    </div>
    <div class="btn-group" style="font-size: 30px;padding-right: 5px">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;">
            8月
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
        </ul>
    </div>
    <span style="padding-top: 5px"><b>广州长宁汽车销售服务有限公司</b></span>
</div>
</div>
</div>