<legend>经营费用 <i class="icon-angle-right"></i> {{depat}}</legend>
<div style="height: 30px">
<span style="color:gray">   上次自动保存于20点23分12秒...</span>

<div class="pull-right">
    <button class="btn" type="button"> 标记为完成<i class="icon-hand-up"></i></button>
</div>
</div>

<div class="row-fluid">
<div class="span4">
    <div  style="margin-top:20px">
        <label><b>变动费用</b></label>
        <div class="well">
            <table>
                <tr>
                    <td width="70%">
                        销售顾问薪酬
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="72,223" value="72,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        金融保险顾问薪酬
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..."  value="4,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        车辆交付费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="4,708" value="4,708">
                    </td>
                </tr>
                <tr>
                    <td>
                        顾客满意度费用 - 新车 二手车
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,432">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>76,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div  style="margin-top:20px">
        <label><b>销售费用</b></label>
        <div class="well">
            <table>
                <tr>
                    <td width="70%">
                        销售顾问以外各部门员工薪酬
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="72,223" value="72,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        广告费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="61,254">
                    </td>
                </tr>
                <tr>
                    <td>
                        车辆短期融资信贷利息
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="4,708" value="4,708">
                    </td>
                </tr>
                <tr>
                    <td>
                        库存维护清理费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,522">
                    </td>
                </tr>
                <tr>
                    <td>
                        公司用车费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,542">
                    </td>
                </tr>
                <tr>
                    <td>
                        员工差旅培训费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="3,5542">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="span4">
    <div  style="margin-top:20px">
        <label><b>人工费用</b></label>
        <div class="well">
            <table>
                <tr>
                    <td width="70%">
                        公司领导层薪酬
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="72,223" value="72,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        部门经理薪酬
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="5,233">
                    </td>
                </tr>
                <tr>
                    <td>
                        福利
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="4,708" value="4,708">
                    </td>
                </tr>
                <tr>
                    <td>
                        非正式员工费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="1,233">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>76,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div  style="margin-top:20px">
        <label><b>半固定费用</b></label>
        <div class="well">
            <table>
                <tr>
                    <td width="70%">
                        会员费,非品牌协会,出版商订购物
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="72,223" value="72,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        办公用品
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="61,254">
                    </td>
                </tr>
                <tr>
                    <td>
                        外包服务费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="4,708" value="4,708">
                    </td>
                </tr>
                <tr>
                    <td>
                        邮资
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,522">
                    </td>
                </tr>
                <tr>
                    <td>
                        差旅费
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,542">
                    </td>
                </tr>
                <tr>
                    <td>
                        审计与法律服务费
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="3,5542">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="span4">
    <div  style="margin-top:20px">
        <label><b>固定费用</b></label>
        <div class="well">
            <table>
                <tr>
                    <td width="70%">
                        土地租金或按揭月供利息
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="72,223" value="72,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        公司用车以外的固定资产保险
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="61,254">
                    </td>
                </tr>
                <tr>
                    <td>
                        水电费用
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="4,708" value="4,708">
                    </td>
                </tr>
                <tr>
                    <td>
                        房屋建筑物维护
                    </td>
                    <td>
                        <input type="text" class="input-small"  placeholder="..." value="2,522">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div  style="margin-top:20px">
        <label><b>合计</b></label>
        <div class="well">
            <table width="100%">
                <tr>
                    <td width="70%">
                        变动与销售费用合计
                    </td>
                    <td>
                        72,223
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>固定经营费用合计
                    </td>
                    <td>
                        <br>61,254
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>全部费用合计
                    </td>
                    <td>
                        <br>55,321
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>营业利润
                    </td>
                    <td>
                        <br>1270,931
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
</div>
</div>