<div ng-controller="kucunCtrl">
    <div style="height: 30px">
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>

        <div class="pull-right">
            <button ng-class="{true: 'hide', false: ''}[isDone]" class="btn" type="button" ng-click="toggleMark()">
                <span> 标记为完成 <i class="icon-hand-up"></i></span></button>
            <span ng-class="{true: '', false: 'hide'}[isDone]"><i class="icon-check-sign"
                                                                  style="color:green;display:inline"></i>已完成</span>
        </div>
    </div>

    <div class="row-fluid">

        <div class="span6">
            <div style="margin-top:20px">
                <div ng-repeat="accountReceivable in accountReceivables | filter: {id:5}">
                    <div>
                        <label><b>{{accountReceivable.name}}</b></label>

                        <div class="well">
                            <table style="font-size: 12px">
                                <tr ng-repeat="accountInRange in accountReceivable.data | filter:{durationDesc: '天'}">
                                    <td width="35%">
                                        {{accountInRange.durationDesc}}
                                    </td>
                                    <td width="25%">
                                        <form name="form">
                                            <input type="text" ng-pattern="/^[0-9]*$/" class="input-mini"
                                                   style="width: 55%;" placeholder="0"
                                                   ng-model="accountInRange.amount" required
                                                   ng-blur="autoSaveAccountReceivables()">
                                            <i ng-class="accountInRange.sign"></i>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-repeat="accountReceivable in accountReceivables | filter: {id:7}">
                    <div>
                        <label><b>{{accountReceivable.name}}</b></label>

                        <div class="well">
                            <table style="font-size: 12px">
                                <tr ng-repeat="accountInRange in accountReceivable.data | filter:{durationDesc: '天'}">
                                    <td width="35%">
                                        {{accountInRange.durationDesc}}
                                    </td>
                                    <td width="25%">
                                        <form name="form">
                                            <input type="text" ng-pattern="/^[0-9]*$/" class="input-mini"
                                                   style="width: 55%;" placeholder="0"
                                                   ng-model="accountInRange.amount" required
                                                   ng-blur="autoSaveAccountReceivables()">
                                            <i ng-class="accountInRange.sign"></i>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-repeat="accountReceivable in accountReceivables | filter: {id:9}">
                    <div>
                        <label><b>{{accountReceivable.name}}</b></label>

                        <div class="well">
                            <table style="font-size: 12px">
                                <tr ng-repeat="accountInRange in accountReceivable.data | filter:{durationDesc: '天'}">
                                    <td width="35%">
                                        {{accountInRange.durationDesc}}
                                    </td>
                                    <td width="25%">
                                        <form name="form">
                                            <input type="text" ng-pattern="/^[0-9]*$/" class="input-mini"
                                                   style="width: 55%;" placeholder="0"
                                                   ng-model="accountInRange.amount" required
                                                   ng-blur="autoSaveAccountReceivables()">
                                            <i ng-class="accountInRange.sign"></i>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="span6">
            <div style="margin-top:20px">
                <div ng-repeat="accountReceivable in accountReceivables | filter:{id:6}">
                    <div>
                        <label><b>{{accountReceivable.name}} </b></label>

                        <div class="well">
                            <table style="font-size: 12px">
                                <tr ng-repeat="accountInRange in accountReceivable.data | filter:{durationDesc: '天'}">
                                    <td width="35%">
                                        {{accountInRange.durationDesc}}
                                    </td>
                                    <td width="25%">
                                        <form name="form">
                                            <div class="text-warning"
                                                 ng-show="form.amount.$dirty && form.amount.$invalid">
                                                <small class="text-warning"
                                                       ng-show="form.amount.$error.pattern">
                                                    库存必须为正数
                                                </small>
                                            </div>
                                            <input type="text" ng-pattern="/^[0-9]*$/" class="input-mini"
                                                   style="width: 55%;" placeholder="0"
                                                   ng-model="accountInRange.amount" required
                                                   ng-blur="autoSaveAccountReceivables()">
                                            <i ng-class="accountInRange.sign"></i>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-repeat="accountReceivable in accountReceivables | filter: {id:8}">
                    <div>
                        <label><b>{{accountReceivable.name}}</b></label>

                        <div class="well">
                            <table style="font-size: 12px">
                                <tr ng-repeat="accountInRange in accountReceivable.data | filter:{durationDesc: '天'}">
                                    <td width="35%">
                                        {{accountInRange.durationDesc}}
                                    </td>
                                    <td width="25%">
                                        <form name="form">
                                            <div class="text-warning"
                                                 ng-show="form.amount.$dirty && form.amount.$invalid">
                                                <small class="text-warning"
                                                       ng-show="form.amount.$error.pattern">
                                                    库存必须为正数
                                                </small>
                                            </div>
                                            <input type="text" ng-pattern="/^[0-9]*$/" class="input-mini"
                                                   style="width: 55%;" placeholder="0"
                                                   ng-model="accountInRange.amount" required
                                                   ng-blur="autoSaveAccountReceivables()">
                                            <i ng-class="accountInRange.sign"></i>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>