<legend>经营费用 <i class="icon-angle-right"></i>{{depat}}</legend>
<div style="height: 30px">
    <span style="color:gray">   上次自动保存于20点23分12秒...</span>

    <div class="pull-right">
        <button class="btn" type="button"> 标记为完成 <i class="icon-hand-up"></i></button>
    </div>
</div>

<div class="row-fluid">
<div class="span4">
<div  style="margin-top:20px">
<label><b>新轿车零售(车型|数量|收入|毛利润)</b></label>
<div class="well">
    <table  style="font-size: 12px">
        <tr>
            <td width="40%">
                微型车
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                小型车 Sub Compact
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                紧凑型(A) Compact
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                紧凑型(B) Compact
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%"  >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                紧凑型(C) Compact
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                中型车(A) Mid-Size
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%"  >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                中型车(B) Mid-Size
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                中型车(C) Mid-Size
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                大中型(A) Full-Size
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                大中型(A) Full-Size
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                豪华车 -紧凑型
            </td>
            <td  width="15%" >
                <input type="text" class="input-mini"   style="width: 40%" value="5">
            </td>
            <td width="20%" >
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
            </td>
            <td width="20%">
                <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
            </td>
        </tr>
        <tr>
            <td>
                <br><b>合计</b>
            </td>
            <td>
                <br><b>170,931</b>
            </td>
        </tr>
    </table>
</div>


<div  style="margin-top:20px">
    <label><b>合计</b></label>
    <div class="well">
        <table width="100%">
            <tr>
                <td width="70%">
                    变动与销售费用合计
                </td>
                <td>
                    72,223
                </td>
            </tr>
            <tr>
                <td>
                    <br>固定经营费用合计
                </td>
                <td>
                    <br>61,254
                </td>
            </tr>
            <tr>
                <td>
                    <br>全部费用合计
                </td>
                <td>
                    <br>55,321
                </td>
            </tr>
            <tr>
                <td>
                    <br>营业利润
                </td>
                <td>
                    <br>1270,931
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>

<div class="span4">
    <div  style="margin-top:20px">
        <label><b>新轿车零售(车型|数量|收入|毛利润)</b></label>
        <div class="well">
            <table  style="font-size: 6px">
                <tr>
                    <td width="40%">
                        SUV-(A) 紧凑型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(B) 紧凑型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(C) 紧凑型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(A) 中型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(B) 中型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(C) 中型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(A) 大型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(B) 大型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(C) 大型 Compact
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(A) 豪华中型 Luxury Mid
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        SUV-(B) 豪华中型 Luxury Mid
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="span4">
    <div  style="margin-top:20px">
        <label><b>附加产品业务 ( 业务 | 数量 | 收入 | 毛利润)</b></label>
        <div class="well">
            <table>
                <tr>
                    <td>
                        分期收入
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        保险收入
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        延保收入
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        牌照收入
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div  style="margin-top:20px">
        <label><b>其他收入 ( 业务 | 数量 | 收入 | 毛利润)</b></label>
        <div class="well">
            <table>
                <tr>
                    <td>
                        大客户销售返利
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        大客户返利
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        二网销售
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        他店调车
                    </td>
                    <td  width="15%" >
                        <input type="text" class="input-mini"   style="width: 40%" value="5">
                    </td>
                    <td width="20%" >
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="72,223">
                    </td>
                    <td width="20%">
                        <input type="text" class="input-mini" style="width: 70%; font-size: 8px"  placeholder="72,223" value="-42,223">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><b>合计</b>
                    </td>
                    <td>
                        <br><b>170,931</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
</div>
</div>