<div class="navbar navbar-inverse navbar-fixed-top" style="font-size: 13px"  ng-controller="branchHeadCtrl">
    <div class="navbar-inner">
        <div class="container">
            <div class="fluid-container navbar-sub">
                <a class="brand" href="#" style="font-size: 23px;color:white">广汽集团</a>
            </div>

            <div class="pull-right" style="font-size: 18px;padding-top: 10px">
                <span style="color:gray"><b>报表系统</b></span>
                <a href="#" title="退出登录" ng-click="signout()" onclick="return false;" style="text-decoration: none"><i class="icon-signout" style="color: white"></i></a>
            </div>
        </div>
    </div>
</div>