<div >
	<div class="accordion affix" id="accordion2">
	
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="return false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		            总运营  <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapseOne" class="accordion-body in collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;font-size: 12px" class="nav nav-pills nav-stacked">
		                    <li class="active">
		                        <a href="#"  onclick="return false;" ng-click="goto(0)">经销商运营概况 </i></a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="return false;" ng-click="goto(1)">经销商运营对比 </i></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
	
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="return false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		            分运营      <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;font-size: 12px" class="nav nav-pills nav-stacked">
		                    <li>
		                        <a href="#"  onclick="return false;" ng-click="goto(2)">部门运营概况 </i></a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="return false;" ng-click="goto(3)">经销商各部门运营概况 </i></a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="return false;" ng-click="goto(4)">部门运营对比 </i></a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="return false;" ng-click="goto(5)">毛利、营业额分析 </i></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="return false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsThree">
		        	销售部      <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapsThree" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;font-size: 12px" class="nav nav-pills nav-stacked">
		                    <li>
		                        <a href="#"  onclick="return false;" ng-click="goto(6)">销量概况 </i></a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="return false;" ng-click="goto(7)">销量对比 </i></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="return false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFour">
		        	售后部      <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapseFour" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;font-size: 12px" class="nav nav-pills nav-stacked">
		                    <li>
		                        <a href="#"  onclick="return false;" ng-click="goto(8)">概况 </i></a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="return false;" ng-click="goto(9)">对比 </i></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
