<div class="navbar navbar-inverse navbar-fixed-top" style="font-size: 13px">
    <div class="navbar-inner">
        <div class="container">
            <div class="fluid-container navbar-sub">
                <a class="brand" href="#" style="font-size: 23px;color:white">广汽集团</a>
            </div>
            <div class="fluid-container navbar-sub" style="font-size: 16px">
                <ul class="nav">
                    <li>
                        <a href="#">分销商数据查看</a>
                    </li>
                    <li  class="active">
                        <a href="#">报表查询</a>
                    </li>
                    <li>
                        <a href="#">帮助</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>