<div >
<div class="accordion affix" id="accordion2" style="width: 15%">

<div class="accordion-group ">
    <div class="accordion-heading">
        <div class="alert alert-info" style="margin-bottom: 0px; padding-right: 5px">报表列表</div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            总运营概述  <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div id="collapseOne" class="accordion-body in collapse">
        <div class="accordion-inner">
            <div style="margin-left:30px">
                <ul style="list-style:none;margin-bottom: 0px" class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#"  onclick="return false;" ng-click="showReport(0,0)">税前净利润 </i></a>
                    </li>
                    <li >
                        <a href="#" onclick="return false;" ng-click="showReport(0,1)">总营业额 </i></a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,2)">经营商总毛利 </a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,3)">经营商总费用 </a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,4)">非经营性损益 </i></a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,5)">新车零售销量 </a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,6)">新车总销量 </i></a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,4)">新车零售平均毛利(含返利) </i></a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,5)">二手车销量 </a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-click="showReport(0,6)">二手车零售平均毛利 </i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            资产分析      <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
            Coming soon...
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsThree">
            应收分析            <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div id="collapsThree" class="accordion-body collapse">
        <div class="accordion-inner">
            Coming soon...
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFour">
            变动和销售费用                 <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div  id="collapsFour" class="accordion-body collapse">
        <div class="accordion-inner">
            Coming soon...
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFive">
            员工薪资、半固定和固定费用           <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div   id="collapsFive" class="accordion-body collapse">
        <div  class="accordion-inner">
            Coming soon...
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsSix">
            部门对比             <i class="icon-chevron-right  pull-right"></i>
        </a>
    </div>
    <div  id="collapsSix" class="accordion-body collapse">
        <div class="accordion-inner">
            Coming soon...
        </div>
    </div>
</div>

<div class="accordion-group ">
    <div class="accordion-heading">
        <button class="btn btn-info btn-small" type="button"  > 下载综合报告  <i class="icon-download-alt"></i></button>
    </div>
</div>
</div>
</div>
